.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
    margin: 3px;
    width: 75vw;
}
.bg-black{
    background-color:black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* Webkit Browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;
    border-radius: 6px;
    border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #3c3c3c #1e1e1e;
}

/* Edge, IE */
* {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

